.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: x-large;
}

.join{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: x-large;
}

.create-btn{
    width: 700px;
    font-size: x-large;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}